<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>添加部门 - 人事管理系统</title>
    <link rel="stylesheet" th:href="@{/css/style1.css}">
</head>
<body>
<h1>添加部门</h1>

<form th:action="@{/department/add}" method="post">
    <div>
        <label for="name">部门名称：</label>
        <input type="text" id="name" name="name" required>
    </div>
    <div>
        <label for="description">部门描述：</label>
        <input type="text" id="description" name="description">
    </div>
    <button type="submit" class="button">提交</button>
</form>

<a th:href="@{/department}" class="button">返回部门管理</a>
</body>
</html>
